.form-container {
  width: 600px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  border: 1px solid lightblue;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 20px;
}
.form-title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.input-group {
  margin-bottom: 20px;
}
.input-group label {
  display: block;
  margin-bottom: 5px;
}
.input-group input,
input {
  width: 400px;
  height: 40px;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 10px;
  box-sizing: border-box;
}
.form-submit {
  display: block;
  background-color: lightpink;
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.form-link {
  color: goldenrod;
  text-decoration: none;
}
.or-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.line {
  width: 170px;
  height: 3px;
  background-color: lightgray;
}
.login-with-google {
  display: block;
  background-color: lightpink;
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
